@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&family=Herr+Von+Muellerhoff&family=Montserrat:wght@400;500;600;700;800&display=swap');

/* font-family: 'Cinzel', serif; */
 /* font-family: 'Herr Von Muellerhoff', cursive; */
 /* font-family: 'Montserrat', sans-serif; */

:root {
    --primary-color: #CFA670;
    --black: #222222;
}
 * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
   font-family: 'Montserrat', sans-serif; 
}
.section-padding {
    padding: 20px 0;
}

.hero {
    width: 100%;
    height: 115vh;
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75));
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 40px 0 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 200px;
    cursor: pointer;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #CFA670;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.2s;
}
.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.content-title {
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 55px;
    line-height: 1em;
    font-weight: 400;
    margin-bottom: 15px;
    text-align: center;
}
.order-btn {
    font-size: 15px;
    line-height: 1;
    padding: 12px 24px;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    transition: all 0.3s;
    background-color: #CFA670;
}
.waves {
  bottom: 0px;
  position: absolute;
}

.bg-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.content-logo {
    margin-bottom: 30px;
}
/* .custom_container {
    width: 95%;
    max-width: 1400px;
    margin: auto;
  } */
  .custom_container {
    width: 95%;
    margin: 0 auto;
    max-width: 1300px;
    overflow: hidden;
  }
  .story-box {
        box-shadow: 0px 2px 60px 0px rgba(0, 0, 0, 0.1) !important;
        padding: 60px 50px 65px 50px;
        text-align: center;
  }
.story-title{
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 65px;
    color: var(--primary-color);
}
.styled-title{
    font-family: 'Cinzel', serif;
    font-size: 55px;
    color: var(--black);
    font-weight: 600;
    letter-spacing: -2px;
}
.leaf {
   width: 20px;
   height: auto;
   margin: 30px 0;
}
.story-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    padding-top: 0.3em;
    padding-bottom: 0.5em;
    color: var(--black);
    font-weight: 500;
    line-height: 1.8em;
}
.hyperLink {
    text-decoration: none;
    color: var(--primary-color);
    border-bottom: 3px solid;
    border-color: var(--primary-color);
    font-weight: 500;
    font-size: 18px;
}
.image_box{
    position: relative;
    overflow: hidden;
    border-radius: 6px !important;
}


.gal-img img{
    max-width: 350px;
    max-height: 500px;
    transition: all 0.3s;
    object-fit: cover;
    transition: all 0.3s;

}
.gal-img img:hover{
    transform: scale(1.08);
}
.image_box2{
    position: relative;
    overflow: hidden;
    border-radius: 6px !important;
}
.image_box3{
    position: relative;
    overflow: hidden;
    border-radius: 6px !important;
}

.gal-img2 img{
    width: 312px;
    height: 213px;
    transition: all 0.3s;
    object-fit: cover;

}
.gal-img2 img:hover{
    transform: scale(1.08);
}
.gal-img3 img{
    width: 245px;
    height: 167px;
    transition: all 0.3s;
    object-fit: cover;

}
.gal-img3 img:hover{
    transform: scale(1.08);
}
.devider {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("../images/dine.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 75vh;
    position: relative;
  
}
.deviderTwo{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("../images/DSC_0178.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 75vh;
    position: relative;  
}
.deviderThree{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("../images/testimonial-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;  
}
.dev_container{
    position: relative;
}
.wavebottom {
    position: absolute;
   bottom: 0px;
}
.wavetop {
    position: absolute;
    top: 0px;
}
.story-section{
    margin: 40px 0;
}
.menu-section{
    margin: 40px 0 40px 0;
}
.menu-box-dark{
    padding: 50px 50px 50px 50px;
    background: #000;
    border-radius: 6px;
    margin-bottom: 40px;
}
.menu-box{
    padding: 50px 30px 40px 50px;
    border: 1px solid #000;
    border-radius: 6px;
    margin-bottom: 40px;
}
.menu-title {
    color: var(--primary-color);
    font-size: 32px;
    font-family: 'Cinzel', serif;
    display: inline-block;
    position: relative;
    font-weight: 600;
    padding-bottom: 2px; 
  }
  
  .menu-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid #000;
  }
  .food-title{
    margin-top: 25px;
    font-family: 'Cinzel', serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;

    display: flex;
    max-width: 600px;

  }
  .food-title::after{
    border-bottom: 3px dotted black;
    content: '';
    flex: 1;
   
  }
  .dotted{
    height: 3px;
    border-bottom: 2px dotted #000;
    width: 30%;
    border-width: 0.2em;
   z-index: 1;
   
  }
  .food-heading{
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .menu-box-inside{
    padding: 5px 20px 5px 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid #000;
    background: #222222;
   
  }
  .menu-box-inside-down{
    padding: 5px 20px 5px 20px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid #000;
  }
.inside-title{
    margin-top: 15px;
    font-family: 'Cinzel', serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #fff;

}
.image-grid-inside{
    display: flex;
    gap: 15px;
}
.img-grid-small{
    margin-top: 15px;
    display: flex;
    gap: 15px;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.gallery-section{
    margin: 40px 0;
}

.testimonial-content{
    text-align: center;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.testimonial-title{
    font-size: 70px;
    font-family: 'Cinzel', serif;
    color: #fff;
}
.service-section {
    margin: 40px 0;
}
.service_title{
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 1.4em;
}
.service_subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin: 30px 0;
}
.service_text{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8em;
}
.service_box{
    padding: 20px 20px 80px 20px;
    border-radius: 5px;
    color: #fff;
    background: #000
}
.inner_service_box{
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 50px 30px 50px 40px;
}
.innter_title{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin-bottom: 20px;
}
.innter_text{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 30px 0;
    line-height: 1.8em;
}
.reserve-btn {
    color: #000;
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 800;
    padding: 15px 30px;
    border-radius: 5px;
}
.footer-section{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("../images/footer-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;  
    margin-top: 80px;
}
.footer-content{
    color: #fff;
}
.footer-content{
    text-align: center;
}
.footer-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 800;
}
.icons{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
}
.footer-end{
    margin-top: 0;
}
.footer-end-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #0E0E0E;
    color: #fff;
    padding: 20px 0;
}
.copyright{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
}
.ft-img{
    margin-bottom: 30px;
}

.powered_by{
    margin-left: 5px;
}








  /* media query */
  @media (max-width: 768px) {
    .custom_container {
        width: 100%;
      padding: 0 20px;
    }
  }
  @media (min-aspect-ratio: 16/9) {
    .bg-video {
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    .bg-video {
        width: auto;
        height: 100%;
    }
}
@media (max-width:1250px) {
    .gal-img img{
        max-width: 250px;
        max-height: 400px;
        transition: all 0.3s;
        object-fit: cover;
    }
}
@media (max-width:1160px) {
    .gal-img img{
        max-width: 200px;
        max-height: 300px;
        transition: all 0.3s;
        object-fit: cover;
    }
    .story-box {
        padding: 40px 30px 45px 30px;
        
  }
  .leaf {
    width: 20px;
    height: auto;
    margin: 15px 0;
 }
}

@media (max-width: 550px) {
    .story-box {
    }
    .styled-title{
        font-size: 40px;
    }
    .story-title{
        font-size: 50px;
    }
    .image_box{
        margin-top: 20px;
    }
    .gal-img img{
        max-width: 350px;
        max-height: 500px;
        transition: all 0.3s;
        object-fit: cover;
        transition: all 0.3s;
    
    }
    .menu-box-dark{
        margin-bottom: 30px;
        padding: 30px 50px 30px 50px;
    }
    .menu-box{
        border: none;
        padding: 50px 30px 40px 30px;
        margin-bottom: 0;
    }
    .food-title::after{
        border-bottom: none;
        content: '';
        flex: 1;
       
      }
      .image-grid-inside{
        display: block;
     
    }
    .gal-img2{
        margin-bottom: 20px;
    }
    .img-grid-small{
        display: block;
    }
    .gal-img3 img{
        /* width: 350px;
        height: 500px; */
       width: 312px;
       height: auto;
       margin-bottom:20px;
    
    }
    .img-grid-small{
        margin-top: 0px;

    }
    .footer-text{
        font-size: 15px;
    }
  
    .ft-img{
        margin: 0px;
    }

}



